
button {
    padding: 8px;
    border-radius: 1rem;
    color: black;
    background-color: rgb(224, 210, 89);
    border: 1px solid black;
    margin: 16px;
    width: 10rem;
    display: block;
}

textarea {
    width: 32vh;
    height: 10vh;
    margin: 1rem;
    padding: 1rem;
    
}

#output {
    width: 32vh;
    height: 10vh;
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.txtPara {
    font-size: larger;
    margin: 16px;
}

h1 {
    color: rgb(50, 50, 218);
    margin: 1rem;
    width: 32vh;
    background-color: rgb(224, 210, 89);
    padding: 1rem;
}